<!doctype html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="">
        <meta name="author" content=""> 
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}">
        <title>Cricket Reg</title>
        <style>
    
            .flash-messages {
        margin-top: 10px;
    }
    
    .flash-message {
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    .flash-message.success {
        color: #4CAF50;
        background-color: #dff0d8;
    }
    
    /* Add more styles for other message categories (e.g., error, warning) if needed */
    
            
    
            .hero-section {
                background-image: url(download.jpg);
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #ecf0f1;
            }
    
            .registration-form {
                max-width: 600px;
                margin: 20px auto;
                padding: 20px;
                border: 2px solid #ecf0f1;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.9);
                color: #2c3e50;
            }
    
            form {
                display: grid;
                gap: 15px;
            }
    
            label {
                font-weight: bold;
            }
    
            input,
            select {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                border: 1px solid #bdc3c7;
                border-radius: 4px;
                background-color: #ecf0f1;
                color: #2c3e50;
            }
    
            button {
                background-color: #e74c3c;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
    
            button:hover {
                background-color: #c0392b;
            }
    
            footer {
                
                color: white;
                text-align: center;
            }
        </style>
        <!-- Reset CSS --> 
        <link href="{{ url_for('static', filename ='css/reset.css')}}" rel="stylesheet" type="text/css">
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename = 'assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Font Awesome -->
        <link href="{{ url_for('static', filename = 'assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Iconmoon -->
        <link href="{{ url_for('static', filename = 'assets/iconmoon/css/iconmoon.css') }}" rel="stylesheet" type="text/css">
        <!-- Lightbox CSS --> 
        <link href="{{ url_for('static', filename = 'assets/lightbox/css/lightbox.css') }}" rel="stylesheet" type="text/css">
        <!-- Owl Carousel -->
        <link href="{{ url_for('static', filename = 'assets/owl-carousel/css/owl.carousel.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Animate -->
        <link href="{{ url_for('static', filename = 'css/animate.css') }}" rel="stylesheet" type="text/css">
        <!-- Aos -->
        <link href="{{ url_for('static', filename = 'assets/aos/aos.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom Style -->
        <link href="{{ url_for('static', filename = 'css/custom.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Start Preloader -->
        <div id="loading">
          <div class="element">
            <div class="sk-folding-cube">
              <div class="sk-cube1 sk-cube"></div>
              <div class="sk-cube2 sk-cube"></div>
              <div class="sk-cube4 sk-cube"></div>
              <div class="sk-cube3 sk-cube"></div>
            </div>
          </div>
        </div>
        <!-- End Preloader -->
    
        <!-- Start Header -->
        <header> 
            <!-- Start Header Sec -->
            <div class="container header-sec">
                <div class="row"> 
                    <span class="col-xs-12 col-sm-3 logo"><a href="/"><h1 style= "color: rgb(255, 85, 0); ;" alt="Fitness Gym"><B><em>MST</em></B></h1></a></span>
                    <div class="col-xs-12 col-sm-9 header-right">
                        <div class="header_search_outer">
                            <span class="icon-search-icon"></span>
                            <input type="text" value="" placeholder="Search" class="header_search"/>
                        </div>
                        <!-- Start Navigation -->
                        <nav class="navbar navbar-expand-md navbar-dark navbar-custom">
                            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Schedule">Fixtures</a>
                                    </li>

                                    {% if 'logged_in' not in session %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="/login">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/signup">Sign up</a>
                                        </li>
                                      
                                        
                                    {% endif  %}
                                    
                                    {% if 'logged_in' in session %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/MyReg">Your Registrations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a  class="nav-link" href="/profile">Your Profile</a>
                                    
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Log out</a>
                                    </li>
                                  
                                    {% endif  %}
            
                                     

                                   
                                </ul>
                            </div>
                        </nav>
                        <!-- End Navigation --> 
                    </div>
                </div>
            </div>
            <!-- End Header Sec --> 
        </header>
        <!-- End Header --> 

        <!-- Start Banner -->
        <div class="banner-outer inner-banner schedule-banner">
            <span class="banner-shadow"></span>
            <div class="container">
                <div class="content" data-aos="fade-down">
                    <h1>Cricket Registration</h1>
                    <div class="breadcrumbs_outer">
                        <div class="container">
                            <ul class="breadcrumbs">
                                <li><a href="index-2.html">Home</a></li>
                                <li>Cricket</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner --> 

        
        <section class="registration-form">
           

            {% if message %}
            <div style="align-items: center;">
                <p><B>Message  ===> {{message}}</B></p>    
            </div>
            
            {% endif %}
            
            
            <div class = "container">
                <h3><U>Rules for the game</U></h3>
                <br>
                <ul>
                    <li>
                        <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black;"><B>
                            Only one team can participate and play on the behalf of one college. 
                        </B></h5>
                    </li>
                    <br>
                    <li>
                        <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black;"><B>
                            In the "Players form", the registrant will be automatically registered as the captain of the team.
                            (As it was advised earlier that the registrant should be the captain.)
                        </B></h5>
                    </li>
                    <br>
                    <li>
                        <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black;"><B>
                            Minimum 11 and max 16 players (including substitues) are allowed in each team.
                        </B></h5>
                    </li>
                    <br>
                    <li>
                        <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black;"><B>
                            All the players are requested to bring their college IDs, for their verification before the game. 
                        </B></h5>
                    </li>
                    <br>
                    <li>
                        <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black;"><B>
                            To make any amends to your registration after you have registered, contact the admin before your game.    
                        </B></h5>
                    </li>
                </ul>
            
                <br>
        
            <form action = "/CricketReg1" method="POST">
                
                <label for="NumberOfPlayers"><h6>Number Of Players (including substitutes): </h6></label>
                
                <input type="number" id="NumberOfPlayers" name="NumberOfPlayers" min="11" max="16" required>


                <button type="submit">Register</button>
            </form>
          
        </section>
    

        

        <!-- Start Footer -->
        <footer class="footer"> 
            <!-- Start Footer top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="contact-us">
                                <h3>About</h3>
                                <p>We intend to make this a successful event and would love your full participation. Don't let this platform go to waste and showcase your athletic talent.</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Sports Complex, MNIT, Jaipur, Rajasthan</p>
                                <a href="mstmnit@g  mail.com"><i class="fa fa-envelope" aria-hidden="true"></i>mstmnit@gmail.com</a>
                                <a href="tel:+91 9958944867"><i class="fa fa-phone" aria-hidden="true"></i>+91 9958944867</a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="newletter">
                                <h3>NEWSLETTER</h3>
                                <p>Sign up for our mailing list to get latest updates and offers</p>
                                <div class="search-block clearfix">
                                    <input name="Search" type="text" placeholder="Enter Your Email">
                                    <button class="search"><span class="fa fa-long-arrow-right"></span></button>
                                </div>
                                <ul class="follow-us clearfix">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-youtube-play"></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- End Footer top --> 

            <!-- Copy Rights --> 
            <div class="copy-rights-section">
                <div class="container">
                    <div class="row">
                         <div class="col-sm-12 col-xs-12">
                            <p><U>2024 Malviya Sports Tournament</U><p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copy Rights --> 
        </footer>
        <!-- End Footer --> 

        <!-- Scroll to top --> 
        <a href="#" class="scroll-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a> 

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="{{ url_for ('static', filename = 'js/jquery.min.js') }}"></script> 
        <!-- Bootstrap JS --> 
        <script src="{{ url_for ('static', filename = 'assets/bootstrap/js/bootstrap.min.js') }}"></script> 
        <!-- Lightbox JS --> 
        <script src="{{ url_for ('static', filename = 'assets/lightbox/js/lightbox.js') }}"></script> 
        <!-- Owl Carousal JS --> 
        <script src="{{ url_for ('static', filename = 'assets/isotope/js/isotope.min.js') }}"></script> 
        <!-- Owl Carousal JS --> 
        <script src="{{ url_for ('static', filename = 'assets/owl-carousel/js/owl.carousel.min.js') }}"></script>
        <!-- Aos JS --> 
        <script src="{{ url_for ('static', filename = 'assets/aos/aos.js') }}"></script>
        <!-- CounterUp JS --> 
        <script src="{{ url_for ('static', filename = 'assets/counterup/counterup.min.js') }}"></script>
        <script src="{{ url_for ('static', filename = 'assets/counterup/waypoints.min.js') }}"></script>  
        <!-- Custom JS --> 
        <script src="{{ url_for('static', filename = 'js/custom.js')}}"></script> 
    </body>

</html>